body {
    font-family: verdana;
    font-size: 14px;
    background-color: gray;
}
h1 {
    color: white;
}
.counter {
    color: white;
    font-size: 14px;
}
.header {
    text-align: center;
}
.left-align {
    text-align: left;
    margin-left: 1%;
}
.right-align {
    text-align: right;
    margin-right: 1%;
}
.mainunit {
    margin-left: 1%;
}
#autosave {
    color: white;
    display: inline;
}
#factoryCostText {
    display: inline;
    margin-left: 5px;
}